@charset "UTF*8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Outfit:wght@100..900&display=swap');


@font-face {
    font-family: 'Android';
    src: url('idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: rgb(230, 217, 200);
    margin: 0px;
    margin-top: 0px;
    padding: 0px;
}

header{
background-image: linear-gradient(to bottom, #31a855,#1b4729);
background-size: cover;
width: 100;
margin: 0px;
padding: 0px;
}

#h1Header{
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
    color: white;

}

#pHaeder{
    text-align: center;
    font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}


nav >a{
  
    font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;  
 color: rgb(146, 218, 146);
 padding: 3px;
 border-radius: 3px;
}

nav > a:hover{
    filter: brightness();
    background-color: #7fdf9c;
    color: #1b4729;
    transition-duration: 0.5s;
}

main{
    width: 85%;
    margin: auto;
    padding: 15px;
    background-color: white;
}

main > h1{
    font-family: 'Android';
    font-size: 25px;
    color: #1b4729;
}

main > p{
    text-align: justify;
    text-indent: 30px;
    font-family: "Barlow", sans-serif;
}

main >h2 {
    font-family: 'Android';
    font-size: 20px;
    color: #125025;
    background-image: linear-gradient(to right, #31a855,#1b472907);
    
    padding-left: 3px;

    
}

.linksMain{
        text-decoration: none;
        background-color: #31a855;
        color: #1b4729;
        
    }
    
    .container{
        text-align: center;
    }

    .lista{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px 40px;
    }

    #extra{
        background-color: #7fdf9c;
        border-radius: 8px;
        padding-left: 5px;
        padding-bottom: 5px;
        text-indent: 8px;
        font-family: "Barlow", sans-serif;
    }
    #extra>h2{
        color: rgb(255, 255, 255);
        background-color: #1b4729;
        border-radius: 8px;
    }

    footer{
        text-align: center;
        font-family:"Barlow", sans-serif;
        background-color: #1b4729;
        color: white;
    }
    