@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Outfit:wght@100..900&family=Passion+One:wght@400;700;900&display=swap');
*{

 
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Outfit:wght@100..900&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
   
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header>h1{
    padding-top: 50px;
   font-variant: small-caps;
   font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 10vw;
}
header>p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

p{
    font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

section>p{
    padding-bottom: 3em;
    padding-left: 10px;
}

section{
 padding-top: 10vh;
 padding-bottom: 10vh;
 line-height: 2em;
 padding-left: 30px;
 font-size: 3vw;
 width: 100%;
 
}

section.normal{
    
    background-color: white;
    color: black;
}

section.imagem{
    display: inline-block;
    background-color: rgb(51,51, 51);
    color: white;
   padding: 5px;
   height: 70vh;
   box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.459);
   background-attachment: fixed;
}

section.imagem>p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.452);
    padding: 5px;
    text-shadow: 1px, 1px, 0px black;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

section#img01{
    background-image: url('pacote-d012/imagens/background001.jpg');
    background-position: right center;
    background-size: cover;
}

section#img02{
    background-image: url('pacote-d012/imagens/background002.jpg');
    background-position: right center;
    background-size: cover;
}