    @charset "UTF-8";
        body{
            background-color: aquamarine;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20;
        }
        h1{
            color:brown;
            background-color:blue;
        }
        h2{
            color: yellow;
        }
        p{
            text-align:justify;
        }
    